{{> header }}



##  Nav vil vurdere din rett til foreldrepenger på nytt
{{> brukerdetaljer_nb }}

Høyesterett konkluderte i dom av 21. desember 2023 med at Nav har hatt en feil praksis med å sette en frist for søknad om foreldrepenger.
Vedtaket du fikk om avslag på foreldrepenger med saksnummer {{felles.saksnummer}} kan være feil. Det beklager vi.
Vi vil gjøre en ny vurdering av retten din til foreldrepenger.

På [foreldrepenger.nav.no](https://foreldrepenger.nav.no) finner du nyeste vedtaksbrev i saken din med mer informasjon om hvilke perioder dette kan gjelde.

#####  Nav trenger opplysninger fra deg
For at vi skal kunne vurdere saken på nytt må du gi oss tilbakemelding om:

Hadde du permisjon? (Ja/nei/delvis)<br> * Hvis ja/delvis - når hadde du permisjon?<br> * Hvis ja/delvis - fikk du lønn fra arbeidsgiver da du hadde permisjon?<br> * Hvis nei - se avsnittet «Du kan ha rett til erstatning»

Du kan gi oss skriftlig tilbakemelding på [innboks.nav.no/s/fedrekvotesaken](https://innboks.nav.no/s/fedrekvotesaken). Det er nok at du svarer på spørsmålene i meldingen. Du trenger ikke å sende inn dokumentasjon i tillegg.

Vi ber deg sende oss tilbakemelding innen 15. august 2024 for at vi skal kunne vurdere saken din.

Hører vi ikke fra deg, kan vi ikke vurdere saken på nytt.

##### Forventet saksbehandlingstid
Vi forventer at saken er behandlet innen 8 måneder etter at vi har mottatt tilbakemelding fra deg.


##### Du kan ha rett til erstatning
Dersom Nav har gjort en feil, som ikke kan rettes opp ved å gi rett på foreldrepenger, eller du har hatt et annet økonomisk tap på grunn av feilen, kan du ha krav på erstatning.
Med økonomisk tap mener vi for eksempel tapt inntekt, renteutgifter, utgifter til barnepass, advokatutgifter og liknende.

Om du tror dette kan gjelde deg, ber vi om at du svarer "nei" på spørsmålet om du hadde permisjon via lenken over.

<div style="break-inside: avoid; page-break-inside: avoid">

##### Du har rett til innsyn
Du har rett til å se dokumentene i saken din.

</div>

##### Har du spørsmål?
Du finner mer informasjon på [nav.no/fedrekvotesaken](https://nav.no/fedrekvotesaken).
Hvis du ikke finner svar på nav.no, kan du kontakte oss via [nav.no/kontakt](https://nav.no/kontakt).
<br/>
<br/>
{{> hilsen_nb }}
