{{> header }}



##  NAV kan vurdere din rett til foreldrepenger på nytt
{{> brukerdetaljer_nb }}

NAV har hatt en feil praksis med å sette en frist for søknad om foreldrepenger. Vedtaket du fikk om avslag på foreldrepenger med saksnummer {{felles.saksnummer}} kan være feil.

Det beklager vi. Vi kan gjøre en ny vurdering av retten din til foreldrepenger.

[På dine foreldrepenger](https://foreldrepenger.nav.no/) finner du nyeste vedtaksbrev i saken din med mer informasjon om hvilke perioder dette kan gjelde.

#####  NAV trenger opplysninger fra deg
Du søkte om foreldrepenger og/eller utsettelse av foreldrepenger, men fikk avslag.

For at vi skal kunne vurdere saken på nytt må du gi oss tilbakemelding:

Hadde du permisjon? (Ja/nei/delvis)<br> * Hvis ja/delvis – i hvilken/hvilke periode/perioder hadde du permisjon?<br> * Hvis ja/delvis – fikk du lønn fra arbeidsgiver da du hadde permisjon?

Det er nok at du svarer på spørsmålene over ved å bruke “Skriv til oss”. Du trenger ikke sende inn dokumentasjon.

##### Frist
Vi ber deg sende oss tilbakemelding eller ny søknad innen 2 uker for at vi skal kunne vurdere saken din.
Hører vi ikke fra deg, kan vi ikke vurdere saken på nytt, og avslutter saken.

Du kan gi oss tilbakemelding ved å bruke tjenesten "Skriv til oss". Under tema for hva slags beskjed du skal sende, velger du "Foreldre, barn og familie". Start meldingen med “Melding til enhet 4863”.

##### Du kan ha rett på erstatning
Hvis du ikke hadde permisjon, har du ikke rett på utbetaling av foreldrepenger, men du kan ha rett på erstatning. Vilkår for å få erstatning er at det er gjort feil fra NAV sin side, som ikke kan rettes innenfor regelverket, og dette har gjort at du har fått et økonomisk tap. Vi ber deg i tilfelle ta kontakt med oss.

<div style="break-inside: avoid; page-break-inside: avoid">

##### Du har rett til innsyn
Du har rett til å se dokumentene i saken din.
</div>

##### Har du spørsmål?
Du finner mer informasjon på nav.no. Har du spørsmål, kan du skrive til oss på «Ditt NAV» på nav.no eller ta kontakt på telefon 55 55 33 33. Hvis du oppgir fødselsnummeret ditt når du tar kontakt med NAV, kan vi lettere gi deg rask og god hjelp.
<br/>
<br/>
{{> hilsen_nb }}
