{{> header }}



##  Nav vil vurdera retten din til foreldrepengar på nytt
{{> brukerdetaljer_nn }}

Høgsterett konkluderte i dom av 21. desember 2023 med at Nav har hatt ein feil praksis med å setja ein frist for søknad om foreldrepengar.
Vedtaket du fekk om avslag på foreldrepengar med saksnummer {{felles.saksnummer}} kan vera feil. Det beklagar me.
Me vil gjera ei ny vurdering av retten din til foreldrepengar.

På [foreldrepenger.nav.no](https://foreldrepenger.nav.no) finn du nyaste vedtaksbrev i saka di med meir informasjon om kva periodar dette kan gjelda.

#####  Nav treng opplysningar frå deg
For at me skal kunne vurdera saka på nytt må du gi oss tilbakemelding om:

Hadde du permisjon? (Ja/nei/delvis)<br> * Viss ja/delvis - når hadde du permisjon?<br> * Viss ja/delvis - fekk du lønn frå arbeidsgivar då du hadde permisjon?<br> * Viss nei - sjå avsnittet «Du kan ha rett til erstatning»

Du kan gi oss skriftleg tilbakemelding på [innboks.nav.no/s/fedrekvotesaken](https://innboks.nav.no/s/fedrekvotesaken). Det er nok at du svarer på spørsmåla i meldinga. Du treng ikkje å sende inn dokumentasjon i tillegg.

Me ber deg sende oss tilbakemelding innan 15. august for at me skal kunne vurdere saka di.

Høyrer me ikkje frå deg, kan me ikkje vurdera saka på nytt.

##### Forventa saksbehandlingstid
Me forventar at saka er behandla innan 8 månader etter at me har fått tilbakemelding frå deg.


##### Du kan ha rett til erstatning
Dersom Nav har gjort ein feil som ikkje kan rettast opp ved å gi rett på foreldrepengar, eller du har hatt eit anna økonomisk tap på grunn av feilen, kan du ha krav på erstatning.
Med økonomisk tap meiner me til dømes tapt inntekt, renteutgifter, utgifter til barnepass, advokatutgifter og liknande.

Om du trur dette kan gjelde deg, ber me om at du svarer "nei" på spørsmålet om du hadde permisjon via lenkja over.

<div style="break-inside: avoid; page-break-inside: avoid">

##### Du har rett til innsyn
Du har rett til å sjå dokumenta i saka di.

</div>

##### Har du spørsmål?
Du finn meir informasjon på [nav.no/fedrekvotesaken](https://nav.no/fedrekvotesaken).
Viss du ikkje finn svar på nav.no, kan du kontakta oss via [nav.no/kontakt](https://nav.no/kontakt).
<br/>
<br/>
{{> hilsen_nn }}
