{{> header }}



##  NAV kan vurdere din rett til foreldrepenger på nytt
{{> brukerdetaljer_nb }}

Høyesterett konkluderte i dom av 21. desember 2023 med at NAV har hatt en feil praksis med å sette en frist for søknad om foreldrepenger.
Vedtaket du fikk om avslag på foreldrepenger med saksnummer {{felles.saksnummer}} kan være feil. Det beklager vi.
Vi vil gjøre en ny vurdering av retten din til foreldrepenger.

På [foreldrepenger.nav.no](https://foreldrepenger.nav.no) finner du nyeste vedtaksbrev i saken din med mer informasjon om hvilke perioder dette kan gjelde.

#####  NAV trenger opplysninger fra deg
For at vi skal kunne vurdere saken på nytt må du gi oss tilbakemelding om:

Hadde du permisjon? (Ja/nei/delvis)<br> * Hvis ja/delvis - når hadde du permisjon?<br> * Hvis ja/delvis - fikk du lønn fra arbeidsgiver da du hadde permisjon?<br> * Hvis nei - se avsnittet «Du kan ha rett til erstatning»

Du kan gi oss skriftlig tilbakemelding på [nav.no/send-beskjed-om-familie](https://nav.no/send-beskjed-om-familie), og velg tema «Foreldre, barn og familie». Start meldingen med "Melding til enhet 4863".

Det er nok at du svarer på spørsmålene i meldingen. Du trenger ikke å sende inn dokumentasjon i tillegg.

Når vi har fått opplysninger fra deg vil vi foreta en ny vurdering av din sak for å ta stilling til om vilkårene for foreldrepenger likevel var oppfylt.

Vi ber deg sende oss tilbakemelding innen 4 uker for at vi skal kunne vurdere saken din.

Hører vi ikke fra deg, kan vi ikke vurdere saken på nytt, og avslutter den.

##### Forventet saksbehandlingstid
Vi forventer at saken er behandlet innen 8 måneder etter at vi har mottatt tilbakemelding fra deg.

<div style="break-inside: avoid; page-break-inside: avoid">

##### Du kan ha rett til erstatning
Hvis du ikke hadde permisjon, har du ikke rett på utbetaling av foreldrepenger, men du kan ha rett på erstatning.
Vilkår for å få erstatning er at det er gjort feil fra NAV sin side, som ikke kan rettes innenfor regelverket, og at dette har ført til et økonomisk tap for deg.

Om dette gjelder deg kan du gi oss skriftlig tilbakemelding på [nav.no/send-beskjed-om-familie](https://nav.no/send-beskjed-om-familie), og velg tema «Foreldre, barn og familie».
Start meldingen med "Melding til enhet 4863".

Vi vil da komme tilbake med mer informasjon om hvordan vi vurderer vilkåret om økonomisk tap i ditt tilfelle - og hvordan du kan dokumentere dette.
</div>

##### Du har rett til innsyn
Du har rett til å se dokumentene i saken din.

##### Har du spørsmål?
Du finner mer informasjon på [nav.no/familie](https://nav.no/familie).

På [nav.no/kontakt](https://nav.no/kontakt) kan du chatte eller skrive til oss.

Hvis du ikke finner svar på nav.no kan du ringe oss på telefon 55 55 33 33, hverdager 09.00-15.00.
<br/>
<br/>
{{> hilsen_nb }}
