# Default ignored files
.DS_Store

/shelf/
### IntelliJ IDEA ###
.idea
/.idea/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/

*.iml
target

content/formats/html/style.css