{{#with frilans}}
<div class="no-page-break">

## Informasjon om frilansoppdrag
<ul>
    <li>Startet som frilanser: {{norwegian-date oppstart}}</li>
    <li>{{> utils/sporsmal-svar-ja-nei value=jobberFremdelesSomFrilans label="Jobber fortsatt som frilanser"}}</li>
</ul>

</div>
{{/with}}

