<div class="no-page-break">

## Informasjon om opphold i utlandet
<ul>
{{#if utenlandsopphold}}
{{~#each utenlandsopphold~}}
<li>{{land-norsk landkode}}: {{norwegian-date fom}} - {{norwegian-date tom}}</li>
{{~/each~}}
{{~else~}}
<li>De siste 12 månedene bodde du i Norge</li>
<li>De neste 12 månedene skal du bo i Norge</li>
{{~/if}}
</ul>
</div>
