{{#if vedlegg}}
<div class="no-page-break">

## Dokumentasjon
<ul>
{{#each vedlegg}}
<li>
    {{~#switch skjemanummer}}
    {{~#case "I000007"~}}Inntektsopplysninger om selvstendig næringsdrivende og/eller frilansere som skal ha foreldrepenger eller vangerskapspenger{{~/case~}}
    {{~#case "I000023"~}}Legeerklæring{{~/case~}}
    {{~#case "I000032"~}}Resultatregnskap{{~/case~}}
    {{~#case "I000036"~}}Dokumentasjon av ferie{{~/case~}}
    {{~#case "I000037"~}}Dokumentasjon av innleggelse i helseinstitusjon{{~/case~}}
    {{~#case "I000038"~}}Dokumentasjon av mors utdanning arbeid eller sykdom{{~/case~}}
    {{~#case "I000039"~}}Dokumentasjon av militær- eller siviltjeneste{{~/case~}}
    {{~#case "I000042"~}}Dokumentasjon av dato for overtakelse av omsorg{{~/case~}}
    {{~#case "I000044"~}}Dokumentasjon av etterlønn/sluttvederlag{{~/case~}}
    {{~#case "I000051"~}}Bekreftelse på deltakelse i kvalifiseringsprogrammet{{~/case~}}
    {{~#case "I000061"~}}Bekreftelse fra studiested/skole{{~/case~}}
    {{~#case "I000062"~}}Bekreftelse på ventet fødselsdato{{~/case~}}
    {{~#case "I000063"~}}Fødselsattest{{~/case~}}
    {{~#case "I000066"~}}Kopi av likningsattest eller selvangivelse{{~/case~}}
    {{~#case "I000065"~}}Bekreftelse fra arbeidsgiver{{~/case~}}
    {{~#case "I000109"~}}Skjema for tilrettelegging og omplassering ved graviditet{{~/case~}}
    {{~#case "I000110"~}}Dokumentasjon av aleneomsorg{{~/case~}}
    {{~#case "I000111"~}}Dokumentasjon av begrunnelse for hvorfor man søker tilbake i tid{{~/case~}}
    {{~#case "I000112"~}}Dokumentasjon av deltakelse i introduksjonsprogrammet{{~/case~}}
    {{~#case "I000114"~}}Uttalelse tilbakekreving{{~/case~}}
    {{~#case "I000116"~}}Bekreftelse på øvelse eller tjeneste i Forsvaret eller Sivilforsvaret{{~/case~}}
    {{~#case "I000117"~}}Bekreftelse på tiltak i regi av Arbeids- og velferdsetaten{{~/case~}}
    {{~#case "I000118"~}}Begrunnelse for sen søknad{{~/case~}}
    {{~#case "I000119"~}}Uttalelse om tilbakebetaling{{~/case~}}
    {{~#case "I000120"~}}Dokumentasjon på at mor er innlagt på sykehus{{~/case~}}
    {{~#case "I000121"~}}Dokumentasjon på at mor er syk{{~/case~}}
    {{~#case "I000122"~}}Dokumentasjon på at far/medmor er innlagt på sykehus{{~/case~}}
    {{~#case "I000123"~}}Dokumentasjon på at far/medmor er syk{{~/case~}}
    {{~#case "I000124"~}}Dokumentasjon på at barnet er innlagt på sykehus{{~/case~}}
    {{~#case "I000130"~}}Dokumentasjon på at mor kombinerer studier med arbeid, som til sammen blir heltid{{~/case~}}
    {{~#case "I000131"~}}Dokumentasjon på at mor studerer på heltid{{~/case~}}
    {{~#case "I000132"~}}Dokumentasjon på at mor er i arbeid{{~/case~}}
    {{~#case "I000133"~}}Dokumentasjon av mors deltakelse i kvalifiseringsprogrammet{{~/case~}}
    {{~#case "I000140"~}}Skattemelding{{~/case~}}
    {{~#case "I000141"~}}Terminbekreftelse{{~/case~}}
    {{~#case "I000143"~}}Dokumentasjon på oppholdstillatelse{{~/case~}}
    {{~#case "I000144"~}}Dokumentasjon på reiser til og fra Norge{{~/case~}}
    {{~#case "I000145"~}}Dokumentasjon på oppfølging i svangerskapet{{~/case~}}
    {{~#case "I000146"~}}Dokumentasjon på inntekt{{~/case~}}
    {{~#case "I000060"~}}Annet{{~/case~}}
    {{/switch}}
    {{~#with dokumenterer.arbeidsforhold}}
        {{#eq type "virksomhet"}}hos {{#arbeidsforhold-fra-orgnummer id ../søkerinfo.arbeidsforhold}}{{navn}} ({{orgnummer}}){{/arbeidsforhold-fra-orgnummer}}{{/eq}}
    {{/with~}}
    {{#switch innsendingsType}}
    {{~#case "LASTET_OPP"}} (lastet opp){{/case~}}
    {{~#case "SEND_SENERE"}} (sendes senere){{/case~}}
    {{~#case "AUTOMATISK"}} (opplysninger om mors arbeid innhentes fra Arbeidsgiver- og arbeidstakerregisteret){{/case~}}
    {{/switch~}}
</li>
{{/each}}
</ul>
</div>
{{/if}}
