<p style="color:gray">
Nav's case number: {{felles.saksnummer}}
<br/>
Name: {{felles.søkerNavn}}
<br/>
National identity number: {{felles.søkerPersonnummer}}
<br/>
{{#if felles.mottakerNavn}}Guardian/Trustee: {{felles.mottakerNavn}}{{/if}}
<br/>
</p>