<p style="color:gray">
Nav's case number: {{felles.saksnummer}}
<br/>
Name: {{felles.søkerNavn}}
<br/>
National identity number: {{felles.søkerPersonnummer}}
<br/>
{{#if felles.mottakerNavn}}Guardian/Trustee: {{felles.mottakerNavn}}<br/>{{/if}}
</p>
{{#if felles.erUtkast}}<p class="draft_text">UTKAST</p>{{/if}}