<p style="color:gray">
Saksnummer i NAV: {{felles.saksnummer}}
<br/>
Navn: {{felles.søkerNavn}}
<br/>
Fødselsnummer: {{felles.søkerPersonnummer}}
<br/>
{{#if felles.mottakerNavn}}Verge/Fullmektig: {{felles.mottakerNavn}}<br/>{{/if}}
</p>
{{#if felles.erUtkast}}<p class="draft_text">UTKAST</p>{{/if}}