##### Du har rett til innsyn
For å sjå dokumenta i saka di, logg inn på [nav.no](https://nav.no/).
<br/>
<br/>
<div style="break-inside: avoid; page-break-inside: avoid">

##### Har du spørsmål?
Du finn meir informasjon på [nav.no/barn](https://nav.no/barn).

På [nav.no/kontakt](https://nav.no/kontakt) kan du chatte eller skrive til oss.

Om du ikkje finn svar på nav.no, kan du ringe oss på telefon 55 55 33 33, kvardagar 09.00-15.00.
<br/>
<br/>
<br/>
{{> hilsen_nn }}
</div>
