/* WARNING: Uses CSS 2.1 */

* {
    font-family: "Source Sans Pro", sans-serif !important;
    color: #000000;
    border-spacing: 0;
}

@page {
    size: 595pt 842pt;
    margin: 64pt 64pt 74pt 64pt;

    @bottom-right {
        content: "side " counter(page) " av " counter(pages);
        font-family: "Source Sans Pro", sans-serif !important;
        font-size: 9pt;
        line-height: 16pt;
        color: #555;
        padding-bottom: 10mm;
    }
}

html {
    height:100%;
}

#ny_nav_logo {
    height: 16pt;
    width: auto;
}

/* Content er alt under logo og til og med siste side, ikke hver enkel side. Se @page */
#content {
    margin-top: 48pt;
}

body, p, li, td, th {
    font-size: 11pt;
    line-height: 16pt;
    font-weight: normal;
    margin-top: 0;
}

h1 {
    font-size: 16pt;
    line-height: 20pt;
    font-weight: bold;
    letter-spacing: 0.3pt;
    margin-top: 48pt;
    margin-bottom: 26pt;
}

h2 {
    font-size: 13pt;
    line-height: 16pt;
    font-weight: bold;
    letter-spacing: 0.25pt;
    margin-top: 26pt;
    margin-bottom: 6pt;
}

h3 {
    font-size: 12pt;
    line-height: 16pt;
    font-weight: bold;
    margin-bottom: 6pt;
}

table {
    width: 100%;
}

.block {
    width: 100%;
    margin-top: 0;
}

.inline {
    display: inline-block;
}

.new_page {
    page-break-before: always;
}

.draft_text {
    transform: rotate(45deg);
    transform-origin: top left;
    position: fixed;
    text-align: center;
    white-space: nowrap;
    z-index: -1;
    top: 350pt;
    left: -50pt;
    width: 100%;
    font-size: 170pt;
    color: #dcdcdc;
    font-weight: bold;
    opacity: 0.3;
}

.no-page-break {
    page-break-inside: avoid;
}
