{{#with frilans}}
<div class="no-page-break">

## Informasjon om frilansoppdrag
<ul>
    <li>Starta som frilansar: {{norwegian-date oppstart}}</li>
    <li>{{> utils/sporsmal-svar-ja-nei value=jobberFremdelesSomFrilans label="Jobbar framleis som frilansar"}}</li>
</ul>

</div>
{{/with}}
