{{#with frilans}}
<div class="no-page-break">

## Freelance
<ul>
    <li>Started: {{norwegian-date oppstart}}</li>
    <li>{{> utils/sporsmal-svar-yes-no value=jobberFremdelesSomFrilans label="Still working as freelancer"}}</li>
</ul>

</div>
{{/with}}
